:root {
    --background-color: #f4d4b4;
    --light-color: #e4b484;
    --red-color: #9f3434;
    --brown-color: #8c7454;
    --dark-color: #341c1c;
}

/* STYLED BUTTON */

.styledButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--dark-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.styledButton-red {
    background-color: var(--red-color);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    align-self: center;
}

.styledButton-brown {
    background-color: var(--dark-color);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    align-self: center;
}

.styledButton-brown-minor {
    align-self: center;
    width: fit-content;
    background-color: transparent;
    border-color: var(--dark-color);
    margin-top: 20px;
    color: var(--dark-color);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
}

.styledButton-red-minor {
    align-self: center;
    width: fit-content;
    background-color: transparent;
    border-color: var(--red-color);
    margin-top: 20px;
    color: var(--red-color);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
}

.styledButton:hover {
    background-color: var(--light-color);
    transform: scale(1.05);
}

.styledButton:active {
    transform: scale(0.95);
}

/* STYLED INPUT */

.styledInput {
    padding: 10px;
    border: 1px solid #a8a7a7;
    border-radius: 5px;
    background-color: var(--background-color);
}

.search-input {
    flex: 1;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid var(--dark-color);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: var(--brown-color);
}

.styledSelectInput {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: var(--brown-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.styledSelectInput select {
    appearance: auto;
    border: none;
    background: transparent;
    font-size: 14px;
    color: #fff;
    padding: 0;
    outline: none;
}

.styledSelectInput:hover {
    background-color: var(--light-color);
    transform: scale(1.05);
}

styledSelectInput.active {
        background-color: var(--light-color);
}

/* STYLED DIV*/

.styledDiv {
    border: 2px solid var(--dark-color);
    border-radius: 20px;
    padding : 10px;
    margin: 20px;
}

.styledDiv-pretty {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin:  20px;
    padding: 40px 20px;
    background-color: #f8e3cd;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

/* DIALOG */

.dialog-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog{
    background: var(--light-color);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.dialog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-body{
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
}

.dialog-body form{
    display: flex;
    flex-direction: column;
}

.dialog-message {
    color: var(--red-color);
}

/* ICONS */

.logo {
    height: 35px;
    width: 35px;
}

.edit:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.delete:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.back-arrow {
    width: 50px;
    transform: rotate(180deg);
}

.close-icon{
    display: flex;
    cursor: pointer;
    transition: transform 0.15s ease-in;
}

.close-icon img{
    width: 20px;
    height: 20px;
}

.close-icon:hover{
    transform: scale(1.2);
}